# Supabase Integration Configuration Keys
VITE_SUPABASE_URL=https://qhkgoasyvbawugdsdhko.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFoa2dvYXN5dmJhd3VnZHNkaGtvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzNDEwNDcsImV4cCI6MjA5ODkxNzA0N30.hb8nDimWYrix3qTK1_NQWiHXLpZXeAVq_3Oo__OkZbs
